[Unit]
Description=Babybot Record mode
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=Tom
Group=video
WorkingDirectory=/home/Tom/Babybot
ExecStart=/usr/bin/python3 /home/Tom/Babybot/record.py --left-camera 0 --right-camera 2 --port 8081 --recording-root /home/Tom/Babybot/recordings --upload-repo /home/Tom/TGLgeneral
Restart=on-failure
RestartSec=2
TimeoutStopSec=30
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
